<div id='about'>
  <h1>Words</h1>
  <h3>About:</h3>
  <p>Welcome to Words! I created Words, so that I had a resource to post the blogs I am writing for Learn Verified. My plan is to deploy this site online, so that other students can also have a resource available for them to post their blogs.
  </p>
  <p>This site is an open source project. Please feel free to contribute to my site &#64; <a href='https://github.com/Lukeghenco/words'>GitHub</a>.</p>
</div>
