<div id='about'>
  <h1>Words</h1>
  <h3>About:</h3>
  <p>Welcome to Words! Words was created, so that Learn Verified students had a resource to post the blogs they need to write in the Learn Verified program. We hope to deploy this site online soon, so that all students can access this program.
  </p>
  <p>This site is an open source project. Please feel free to contribute to my site &#64; <a href='https://github.com/Lukeghenco/words'>GitHub</a>.</p>
</div>
