<% @posts.each do |post| %>
  <div class="post-container">
    <h2 class='title'><%= link_to post.title, post %></h2>
    <p class='date'><%= post.created_at.strftime("%B, %d, %Y") %></p>
    <div id="tags">
      <ul>
        <% post.tags.uniq.each do |tag| %>
          <% if tag.name != "" && tag.name != nil %>
            <li><%= tag.name %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
